/* =========================================
   GLOBAL RESET
========================================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* =========================================
   ROOT
========================================= */

:root {
  font-family: "Poppins", sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* =========================================
   HTML / BODY
========================================= */

html {
  width: 100%;
  min-height: 100%;
}

body {
  width: 100%;
  min-width: 320px;
  min-height: 100vh;

  margin: 0;
}


/* =========================================
   ROOT APP CONTAINER
========================================= */

#root {
  width: 100%;
  min-height: 100vh;
}